ion-accordion ion-label {
  font-size: 1.3rem;
  font-weight: 400;
}

ion-item p {
  color: #6a6a6a;
}

ion-label p {
  text-align: center;
  padding: 1rem;
}

ion-note {
  margin-left: 1rem;
}

ion-label.margin-top--none {
  margin-top: 0;
}

.date-button__color--primary {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.date-button__color--primary::part(native) {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
