<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notificaciones</ion-title>
    @if(isLoading) {
      <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(studentGroups.length === 0 && !isLoading) {
    <div class="center-box">
      <p>Para crear notificaciones primero debes registrar a los alumnos y grupos de tu Centro de Trabajo.</p>
    </div>
  }
  <ion-accordion-group expand="inset">
    @for(group of studentGroups; track group.gid) {
      <ion-accordion value="{{ group.grado }}{{ group.letra }}" toggleIconSlot="end">
        <ion-item slot="header" color="light">
          <ion-label>Grupo {{ group.grado }}° "{{ group.letra }}"</ion-label>
        </ion-item>
        <div slot="content">
          @if (studentsListByGroup(group.gid).length === 0) {
            <ion-label>
              <p>No hay alumnos en este grupo.</p>
            </ion-label>
          }
          @else {
            @for(student of studentsListByGroup(group.gid); track student.id) {
              <ion-item-sliding #studentSlidingItem>
                <ion-item>
                  <ion-label>
                    <h2>{{ student.nombreCompleto }}</h2>
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option
                   color="tertiary"
                   id="absence-{{ student.id }}"
                  >
                    <ion-icon slot="icon-only" name="calendar-number"></ion-icon>
                  </ion-item-option>
                  <ion-item-option
                   color="primary"
                   id="noncompliance-{{ student.id }}"
                  >
                    <ion-icon slot="icon-only" name="book"></ion-icon>
                  </ion-item-option>
                  <ion-item-option
                   color="secondary"
                   id="misconduct-{{ student.id }}"
                  >
                    <ion-icon slot="icon-only" name="sad"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <!-- Modal (Faltas) -->
              <ion-modal
               trigger="absence-{{ student.id }}"
               [initialBreakpoint]="initialBreakpoint"
               [breakpoints]="breakpoints"
               (willDismiss)="onModalDismiss(studentSlidingItem)"
               #addAbsenseModal
              >
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button
                         (click)="closeModal('absence-'+student.id)"
                        >
                          Cancelar
                        </ion-button>
                      </ion-buttons>
                      <ion-title>Inasistencia</ion-title>
                      <ion-buttons slot="end">
                        <ion-button
                         [disabled]="isAbsenceButtonDisabled"
                         [strong]="true"
                         (click)="onAddAbsence(student)"
                        >
                          Notificar
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding" color="light">
                    <ion-list-header>
                      {{ student.nombreCompleto }}
                    </ion-list-header>
                    <ion-list [inset]="true">
                      <ion-item lines="none">
                        <p>Presiona el botón para seleccionar una fecha anterior:</p>
                      </ion-item>
                      <ion-item class="ion-padding">
                        <ion-datetime-button
                          class="date-button__color--primary"
                          datetime="datetime"
                        >
                        </ion-datetime-button>
                        <ion-modal [keepContentsMounted]="true">
                          <ng-template>
                            <ion-datetime
                              cancel-text="Cancelar"
                              done-text="Seleccionar"
                              id="datetime"
                              locale="es-ES"
                              presentation="date"
                              [formatOptions]="dateFormatOptions"
                              [isDateEnabled]="isWeekday"
                              [showDefaultButtons]="true"
                              (ionChange)="onDatetimePickerChange($event)"
                              #datetimePicker
                            ></ion-datetime>
                          </ng-template>
                        </ion-modal>
                      </ion-item>
                    </ion-list>
                    <ion-list [inset]="true">
                      <ion-item>
                        <ion-toggle
                         [checked]="studentDidntShowUp"
                         (ionChange)="onStudentDidntShowUpChange()"
                        >
                          <ion-label>No asistió a la escuela.</ion-label>
                        </ion-toggle>
                      </ion-item>
                    </ion-list>
                    <ion-list [inset]="true">
                      <ion-item>
                        <ion-textarea
                         label="Observaciones:"
                         labelPlacement="floating"
                         placeholder="Escribe aquí..."
                         [autoGrow]="true"
                         [clearOnEdit]="true"
                         [maxlength]="200"
                         (ionChange)="onCommentsChange($event)"
                        >
                        </ion-textarea>
                      </ion-item>
                    </ion-list>
                    <ion-list-header>
                      <ion-label>Inasistencia Parcial</ion-label>
                    </ion-list-header>
                    <ion-note>No se presento a una o más materias:</ion-note>
                    <ion-list [inset]="true">
                      @for(subject of subjects; track subject.nombre) {
                        <ion-item lines="full">
                          <ion-checkbox
                           justify="space-between"
                           [disabled]="studentDidntShowUp"
                           (ionChange)="onSubjectChange(subject)"
                          >
                            {{ subject.nombre }}
                          </ion-checkbox>
                        </ion-item>
                      }
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <!-- Modal (Incumplimiento de tareas) -->
              <ion-modal
               trigger="noncompliance-{{ student.id }}"
               [initialBreakpoint]="initialBreakpoint"
               [breakpoints]="breakpoints"
               (willDismiss)="onModalDismiss(studentSlidingItem)"
               #addNoncomplianceModal
              >
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button
                         (click)="closeModal('noncompliance-'+student.id)"
                        >
                          Cancelar
                        </ion-button>
                      </ion-buttons>
                      <ion-title>Incumplimiento</ion-title>
                      <ion-buttons slot="end">
                        <ion-button
                         [strong]="true"
                         (click)="onAddNoncompliance(student)"
                        >
                          Notificar
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                </ng-template>
              </ion-modal>

              <!-- Modal (Indisciplina) -->
              <ion-modal
               trigger="misconduct-{{ student.id }}"
               [initialBreakpoint]="initialBreakpoint"
               [breakpoints]="breakpoints"
               (willDismiss)="onModalDismiss(studentSlidingItem)"
               #addMisconductModal
              >
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button
                         (click)="closeModal('misconduct-'+student.id)"
                        >
                          Cancelar
                        </ion-button>
                      </ion-buttons>
                      <ion-title>Indisciplina</ion-title>
                      <ion-buttons slot="end">
                        <ion-button
                         [strong]="true"
                         (click)="onAddMisconduct(student)"
                        >
                          Notificar
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                </ng-template>
              </ion-modal>
            }
          }
        </div>
      </ion-accordion>
    }
  </ion-accordion-group>
</ion-content>

