<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alumnos</ion-title>
    @if(isLoading) {
      <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button size="small" id="add-student-btn">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
 trigger="add-student-btn"
  [initialBreakpoint]="initialBreakpoint"
  [breakpoints]="breakpoints"
  #addStudentModal
>
  <ng-template>
    <ion-header>

    </ion-header>
    <ion-content>

    </ion-content>
  </ng-template>
</ion-modal>
