<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ school?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

</ion-content>
