ion-note {
  margin-left: 1rem;
}

ion-text small {
  display: block;
  padding-top: 0;
}

.background--light {
  background-color: #f4f5f8;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
