a {
  text-decoration: none;
  color:#666666;
}

h2 {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 500;
}

ion-chip {
  margin: 1rem 0 0 0;
}

ion-label {
  color: #222d3a;
}

.user-item-card {
  --background: #f7f7f7;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  p {
    font-size: 0.7rem;
  }

  ion-avatar {
    --border-radius: 50%;
    align-self: flex-start;
    height: 50px;
    margin-right: 1rem;
    margin-top: 14px;
    width: 50px;
  }
}
